.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display,
.result {
  text-align: right;
  border: none;
}

table,
tr,
td {
  border: 1px solid black;
  width: 350px;
  height: 50px;
  border-radius: 3px;
}

.content table {
  background-color: #f3faff;
}

td {
  text-align: center;
  margin: 10px;
}

.number:hover {
  background-color: #fff9f9;
}

.symbol:hover {
  background-color: #f3faff;
}

.symbol {
  background-color: #fff9f9;
}
